<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shanchain.shandata">

    <!-- 极光官方定义的权限，允许应用接受JPUSH 内部代码发送的广播消息 -->
    <permission
        android:name="com.shanchain.shandata.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读写操作 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 通知栏 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <!-- 友盟消息推送 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59828961cae7e754170008ab" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="dfb65b759f7998b0b69b644d17303224" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UOpGblY5ZfEI5fszsaiLQhgKEogWIQeE" />
        <!-- 百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- activity页面注册 -->
        <activity android:name=".ui.view.activity.login.LoginActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_login" />
        </activity>
        <activity
            android:name=".ui.view.activity.HomeActivity"
            android:configChanges="locale" />
        <activity
            android:name=".ui.view.activity.jmessageui.MessageListActivity"
            android:configChanges="locale" />
        <activity android:name=".ui.view.activity.MainActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_main" />
        </activity>
        <!-- 添加 FaceBook 的 ReactNative 调试的 activity -->
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity android:name=".ui.view.activity.story.StoryTitleActivity" />
        <activity android:name=".ui.view.activity.story.ChooseRoleActivity" />
        <activity android:name=".ui.view.activity.story.SearchRoleActivity" />
        <activity android:name=".ui.view.activity.story.ReportActivity" />
        <activity android:name=".ui.view.activity.story.AddRoleActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_add_role" />
        </activity>
        <activity android:name=".ui.view.activity.story.AddResultActivity" />

        <!-- 图片选择页面 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="page_flag"
                android:value="page_photo_picker" />
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="page_flag"
                android:value="page_photo_pager" />
        </activity>
        <activity
            android:name=".ui.view.activity.story.ReleaseDynamicActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.view.activity.story.TopicActivity" />
        <activity android:name=".ui.view.activity.story.SelectContactActivity" />
        <activity android:name=".ui.view.activity.story.BoxActivity" />
        <activity android:name=".ui.view.activity.story.ReadModelActivity" />
        <activity android:name=".ui.view.activity.story.StoryChainActivity" />
        <activity android:name=".ui.view.activity.story.TopicDetailsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_topic_details" />
        </activity>
        <activity
            android:name=".ui.view.activity.story.ImageActivity"
            android:theme="@style/FullScreenTheme">
            <meta-data
                android:name="page_flag"
                android:value="page_photo_image" />
        </activity>
        <activity android:name=".ui.view.activity.story.AddNewSpaceActivity" />
        <activity android:name=".ui.view.activity.story.DynamicDetailsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_story_dynamic" />
        </activity>
        <activity android:name=".ui.view.activity.story.NovelDetailsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_novel_dynamic" />
        </activity>
        <activity
            android:name=".ui.view.activity.chat.ChatRoomActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.view.activity.chat.ContactActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_contact" />
        </activity>
        <activity android:name=".ui.view.activity.chat.CreateDramaActivity" />
        <activity android:name=".ui.view.activity.chat.SceneDetailsActivity" />
        <activity android:name=".ui.view.activity.chat.SceneNumbersActivity" />
        <activity android:name=".ui.view.activity.chat.AnnouncementActivity" />
        <activity
            android:name=".ui.view.activity.chat.AddAnnouncementActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.view.activity.chat.AnnouncementDetailsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_notice" />
        </activity>
        <activity android:name=".ui.view.activity.chat.EditSceneActivity" />
        <activity android:name=".ui.view.activity.chat.MeetPersonActivity" />
        <activity android:name=".ui.view.activity.chat.FindSceneActivity" />
        <activity android:name=".ui.view.activity.mine.PraisedActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_praised" />
        </activity>
        <activity android:name=".ui.view.activity.mine.MyCommentsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_my_comments" />
        </activity>
        <activity android:name=".ui.view.activity.square.AddTopicActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_add_topic" />
        </activity>
        <activity android:name=".ui.view.activity.login.RegisterActivity" />
        <activity android:name=".ui.view.activity.login.ResetPwdActivity" />
        <activity android:name=".ui.view.activity.login.BindInfoActivity">
            <meta-data
                android:name="page_flag"
                android:value="bind_info" />
        </activity>
        <activity android:name=".ui.view.activity.mine.FriendHomeActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_character_home" />
        </activity>
        <activity
            android:name=".ui.view.activity.login.SplashActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.activity.story.MoreTagActivity" />
        <activity
            android:name=".ui.view.activity.story.ForwardingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.view.activity.story.ChainActivity" />
        <activity android:name=".ui.view.activity.mine.MyStoryActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_my_story" />
        </activity>
        <activity android:name=".ui.view.activity.chat.ChatAtActivity" />
        <activity
            android:name=".ui.view.activity.login.GuideActivity"
            android:theme="@style/FullScreenTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.shanchain.shandata.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".ui.view.activity.story.VideoDynamicDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.view.activity.story.CreateDynamicActivity" />
        <activity
            android:name=".ui.view.activity.story.ReleaseVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.view.activity.story.RecordVideoActivity" />
        <activity
            android:name=".ui.view.activity.jmessageui.SetFragmentActivity"
            android:label="@string/title_activity_seting"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.view.activity.jmessageui.FootPrintActivity" />
        <activity
            android:name=".ui.view.activity.jmessageui.SingleChatActivity"
            android:label="@string/title_activity_single_chat"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.view.activity.tasklist.TaskListActivity" />
        <activity android:name=".ui.view.activity.jmessageui.MyMessageActivity" />
        <activity android:name=".ui.view.activity.tasklist.TaskDetailActivity"></activity>
    </application>

</manifest>