<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shanchain.shandata">

    <!-- 极光官方定义的权限，允许应用接受JPUSH 内部代码发送的广播消息 -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 应用角标 -->
    <uses-permission android:name=" com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <!-- SD卡读写操作 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- SD卡获取日志打印信息 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 安装apk的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <!-- 通知栏 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:debuggable="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <!-- &lt;!&ndash; 友盟统计/消息推送 &ndash;&gt; -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59828961cae7e754170008ab" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="dfb65b759f7998b0b69b644d17303224" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- ActiveAndroid 数据库操作配置:数据库名称jchat.db , 版本号4 -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="jchat.db" />
        <meta-data
            android:name="AA_MODELS"
            android:value="${applicationId}.ui.model.UserEntry,${applicationId}.ui.model.FriendEntry,${applicationId}.ui.model.FriendRecommendEntry" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_api_key" />
        <!-- 百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- Facebook授权信息 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="cn.jiguang.share.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider351737942088473"
            android:exported="true" />
        <!-- Facebook上传图片接收器 -->
        <!--
        <receiver android:name="cn.jiguang.share.demo.FaceBookUploadReceiver">
            <intent-filter>
                <action android:name="com.facebook.platform.AppCallResultBroadcast" />
            </intent-filter>
        </receiver>
        -->


        <!-- 注册下载完成安装apk广播接收器 -->
        <receiver
            android:name=".receiver.DownloadCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 极光推送 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required 用户注册 SDK 的 intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收 SDK 消息的 intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收 SDK 通知栏信息的 intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的 intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <provider
            android:name="cn.jpush.im.android.helpers.ipc.IMProvider"
            android:authorities="com.shanchain.shandata.IMProvider"
            android:exported="false" />
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 这个Service要继承JCommonService -->
        <service android:name="com.shanchain.shandata.service.XService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- 推送自定义消息 -->
        <!-- <receiver android:name=".receiver.CustomMessageReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.shanchain.shandata.MY_MESSAGE_RECEIVED_ACTION"></action> -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash; Required  用户接收SDK通知栏信息的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> -->
        <!-- <category android:name="com.shanchain.shandata" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <receiver android:name=".receiver.MyLocationReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name=".receiver.MyLocationReceiver"></action> -->
        <!-- <category android:name="com.shanchain.shandata"></category> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- 极光推送  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!-- <receiver android:name=".receiver.MyJPushMessageReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" /> -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash; Required  用户接收SDK通知栏信息的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> -->
        <!-- <category android:name="com.shanchain.shandata" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!--
            &lt;!&ndash; Required since JMessage 2.7.0 SDK 核心功能 &ndash;&gt;
        <provider
            android:name="cn.jpush.im.android.helpers.ipc.IMProvider"
            android:authorities="com.shanchain.shandata.IMProvider"
            android:exported="false" />

        &lt;!&ndash; since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 &ndash;&gt;
        &lt;!&ndash; 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 &ndash;&gt;
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.shanchain.shandata" />
            </intent-filter>

        </service>
        -->
        <!-- Required SDK 核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- Required SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- activity页面注册 -->
        <activity
            android:name=".ui.view.activity.login.LoginActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="page_flag"
                android:value="page_login" />

            <intent-filter>
                <action android:name="loginActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.activity.HomeActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.view.activity.jmessageui.MessageListActivity"
            android:configChanges="locale"
            android:launchMode="singleTask">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.view.activity.MainActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="page_flag"
                android:value="page_main" />
        </activity>
        <activity
            android:name=".rn.activity.SCWebViewActivity"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:scheme="xl" android:host="goods" android:path="/goodsDetail" android:port="8888"/> -->
                <data
                    android:host="qianqianshijie"
                    android:path="/webview"
                    android:port="80"
                    android:scheme="activity" />
                <!-- <data -->
                <!-- android:host="ihongqiqu.com" -->
                <!-- android:pathPrefix="/test/" -->
                <!-- android:scheme="schemedemo" /> -->
            </intent-filter>
        </activity>
        <!-- 添加 FaceBook 的 ReactNative 调试的 activity -->
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity android:name=".ui.view.activity.story.StoryTitleActivity" />
        <activity android:name=".ui.view.activity.story.ChooseRoleActivity" />
        <activity android:name=".ui.view.activity.story.SearchRoleActivity" />
        <activity android:name=".ui.view.activity.story.ReportActivity" />
        <activity android:name=".ui.view.activity.story.AddRoleActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_add_role" />
        </activity>
        <activity android:name=".ui.view.activity.story.AddResultActivity" />

        <!-- 图片选择页面 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="page_flag"
                android:value="page_photo_picker" />
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="page_flag"
                android:value="page_photo_pager" />
        </activity>
        <activity
            android:name=".ui.view.activity.story.ReleaseDynamicActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.view.activity.story.TopicActivity" />
        <activity android:name=".ui.view.activity.story.SelectContactActivity" />
        <activity android:name=".ui.view.activity.story.BoxActivity" />
        <activity android:name=".ui.view.activity.story.ReadModelActivity" />
        <activity android:name=".ui.view.activity.story.StoryChainActivity" />
        <activity android:name=".ui.view.activity.story.TopicDetailsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_topic_details" />
        </activity>
        <activity
            android:name=".ui.view.activity.story.ImageActivity"
            android:theme="@style/FullScreenTheme">
            <meta-data
                android:name="page_flag"
                android:value="page_photo_image" />
        </activity>
        <activity android:name=".ui.view.activity.story.AddNewSpaceActivity" />
        <activity android:name=".ui.view.activity.story.DynamicDetailsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_story_dynamic" />
        </activity>
        <activity android:name=".ui.view.activity.story.NovelDetailsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_novel_dynamic" />
        </activity>
        <activity
            android:name=".ui.view.activity.chat.ChatRoomActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.view.activity.chat.ContactActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_contact" />
        </activity>
        <activity android:name=".ui.view.activity.chat.SceneNumbersActivity" />


        <activity android:name=".ui.view.activity.chat.EditSceneActivity" />
        <activity android:name=".ui.view.activity.chat.MeetPersonActivity" />
        <activity android:name=".ui.view.activity.chat.FindSceneActivity" />

        <activity android:name=".ui.view.activity.mine.MyCommentsActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_my_comments" />
        </activity>
        <activity android:name=".ui.view.activity.square.AddTopicActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_add_topic" />
        </activity>
        <activity android:name=".ui.view.activity.login.RegisterActivity" />
        <activity android:name=".ui.view.activity.login.ResetPwdActivity" />
        <activity android:name=".ui.view.activity.login.BindInfoActivity">
            <meta-data
                android:name="page_flag"
                android:value="bind_info" />
        </activity>
        <activity android:name=".ui.view.activity.mine.FriendHomeActivity">
            <meta-data
                android:name="page_flag"
                android:value="page_character_home" />
        </activity>
        <activity
            android:name=".ui.view.activity.login.SplashActivity"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.activity.story.MoreTagActivity" />
        <activity
            android:name=".ui.view.activity.story.ForwardingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.view.activity.story.ChainActivity" />

        <activity android:name=".ui.view.activity.chat.ChatAtActivity" />
        <activity
            android:name=".ui.view.activity.login.GuideActivity"
            android:theme="@style/FullScreenTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".ui.view.activity.story.VideoDynamicDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.view.activity.story.CreateDynamicActivity" />
        <activity
            android:name=".ui.view.activity.story.ReleaseVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.view.activity.story.RecordVideoActivity" />
        <activity
            android:name=".ui.view.activity.jmessageui.SetFragmentActivity"
            android:label="@string/title_activity_seting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.view.activity.jmessageui.FootPrintActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.view.activity.jmessageui.SingleChatActivity"
            android:label="@string/title_activity_single_chat"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.view.activity.tasklist.TaskListActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.view.activity.jmessageui.MyMessageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.view.activity.tasklist.TaskDetailActivity"
            android:launchMode="singleTask">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ui.view.activity.ModifyUserInfoActivity" />
        <activity android:name=".ui.view.activity.jmessageui.MemberActivity" />
        <activity android:name=".ui.view.activity.jmessageui.SingerChatInfoActivity" />
        <activity android:name=".ui.view.activity.jmessageui.BrowserImageActivity" />
        <activity android:name=".ui.view.activity.jmessageui.VideoActivity" />
        <activity android:name=".widgets.takevideo.CameraActivity" />
        <activity android:name=".widgets.pickerimage.PickImageActivity" />
        <activity android:name=".widgets.pickerimage.PickerAlbumActivity" />
        <activity android:name=".widgets.pickerimage.PickerAlbumPreviewActivity" />
        <activity android:name=".ui.view.activity.jmessageui.FeedbackActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.view.activity.login.BindPhoneActivity" />
        <activity
            android:name=".ui.view.activity.coupon.CouponListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.view.activity.coupon.CreateCouponActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.view.activity.coupon.CouponDetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.view.activity.coupon.MyCouponDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.view.activity.coupon.MyCouponListActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.view.activity.jmessageui.VerifiedActivity" />
        <activity android:name=".ui.view.activity.coupon.ScanQRCodeActivity" />
        <activity android:name=".ui.view.activity.coupon.MyCreateDetailsActivity" />
        <activity android:name=".ui.view.activity.settings.SettingsActivity" />
        <activity
            android:name=".ui.view.activity.settings.AccountSecurityActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity android:name=".ui.view.activity.settings.SetPasswordActivity" />
        <activity android:name=".ui.view.activity.settings.ChangePhoneNumActivity" />
        <activity android:name=".ui.view.activity.settings.AboutAppActivity" />
        <activity android:name="com.shanchain.data.common.ui.SetWalletPasswordActivity" />
        <activity android:name=".ui.view.activity.jmessageui.FriendInfoActivity" />
        <activity android:name=".ui.view.activity.jmessageui.PersonalActivity" />
        <!-- <activity android:name=".rn.activity.X5WebViewActivity" /> -->

        <activity android:name=".ui.view.activity.login.PhoneFrontActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.view.activity.jmessageui.FootPrintNewActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.view.activity.article.PublishArticleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.article.ArticleDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.article.PhotoPagerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.square.MyGroupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".rn.activity.SCWebViewXYActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.square.PayforSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.square.SearchTeamActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.mine.ReturnInvationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.basepara.BaseParaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.mine.ViewImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.settings.ClientListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.article.CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DalioActivityTheme"/>
        <activity android:name=".ui.view.activity.mine.QuestionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.settings.KYCCertificatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.settings.KYCCertifitStateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.settings.KYCPhotosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.settings.PhotoVSingleActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>