<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shanchain">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.view.activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.view.activity.MainActivity">
        </activity>
        <activity android:name=".mvp.view.activity.login.PhoneRegistActivity">
        </activity>
        <activity android:name=".mvp.view.activity.login.ChooseAreaCodeActivity">
        </activity>
        <activity android:name=".mvp.view.activity.login.ForgetPwdActivity">
        </activity>
        <activity android:name=".mvp.view.activity.login.ResetPwdActivity">
        </activity>
        <activity android:name=".mvp.view.activity.login.InviteCodeRegistActivity">
        </activity>
        <activity android:name=".mvp.view.activity.AddFriendActivity">
        </activity>
        <activity android:name=".mvp.view.activity.SearchNickActivity">
        </activity>
        <activity android:name=".mvp.view.activity.ReportActivity">
        </activity>
        <activity
            android:name=".mvp.view.activity.ReleaseDynamicActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".mvp.view.activity.FriendsActivity">
        </activity>

        <!-- 图片选择页面 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".mvp.view.activity.DetailsActivity">
        </activity>
    </application>

</manifest>