<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shanchain.common">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!--&lt;!&ndash; ActiveAndroid 数据库配置&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="AA_DB_NAME"-->
            <!--android:value="jchat.db" />-->
        <!--<meta-data-->
            <!--android:name="AA_MODELS"-->
            <!--android:value="jiguang.chat.database.UserEntry, jiguang.chat.database.FriendEntry,-->
             <!--jiguang.chat.database.FriendRecommendEntry, jiguang.chat.database.ConversationEntry" />-->
        <!--<meta-data-->
            <!--android:name="AA_DB_VERSION"-->
            <!--android:value="4" />-->

        <activity
            android:name="com.shanchain.data.common.rn.SCReactActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RNTheme">
            <meta-data
                android:name="page_flag"
                android:value="react_native" />
        </activity>

        <receiver
            android:name="com.shanchain.data.common.net.NetWorkStatusReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- <activity android:name="com.shanchain.data.common.rn.SettingActivity"></activity> -->
        <activity android:name="com.shanchain.data.common.ui.WalletEnterActivity"></activity>
    </application>

</manifest>